<div class="cube">
    <img class="cube" src="{{imgURL}}">
    <p class="name">{{name}}</p>
    <p><span>Difficulty level:</span>{{difficulty}}</p>
    <a class="btn" href="/cube/details/{{_id}}">Details</a>
    <a class="btn" href="/cube/attach/{{_id}}">Attach</a>

</div>